#!/bin/bash
# Create database backups

MAIL_TO={{ mail_to }}

function backup_database(){

	local DB=${1}
	local DEST_DIR=/backup/$(date +%d_%m_%Y)
	local DEST_FILE=${DEST_DIR}/${DB}_dump_$(date +%s).sql

	printf "%s%s\n" "Create Backup from: " "${DB}"

	if test ! -d ${DEST_DIR} ; then
		printf "%s%s\n" "- Create backup directory: " "${DEST_DIR}"
		mkdir -p ${DEST_DIR}
	fi

	printf "%s%s\n" "- Create backup file: " "${DEST_FILE}"
	/usr/bin/mysqldump ${DB} > ${DEST_FILE}
	if test "${?}x" = "0x" -a -f ${DEST_FILE}; then
		printf "%s\n" "Backup OK"
		/bin/bzip2 -f ${DEST_FILE}
		printf "%s%s\n\n" "- Backup file: " "$(ls ${DEST_FILE}.bz2)"
	else
		printf "%s\n" "Backup NOK"
		echo "Backup from ${DB} failed" | mail -s "Backup DB ERROR" ${MAIL_TO}
	fi
}

backup_database ops_test
